<div class="page">
    <section>
      <h2>6.3. Appendix - Group Of Tests Overview</h2>
      <table aria-describedby="Table with overview of the group of tests done">
        <thead>
          <tr>
            <th>#</th>
            <th>Group of Tests</th>
            <th>E.G.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Information Gathering</td>
            <td>Fingerprint Web Server, Fingerprint Web Application, Map Application Architecture</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Configuration and Deploy Management Testing</td>
            <td>Application Platform Configuration, HSTS, HTTP Methods, Backup and Unreferenced Files</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Identity Management Testing</td>
            <td>User Registration Process, Account Enumeration</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Authentication Testing</td>
            <td>Default Credentials, Weak Lock Out Mechanism, Reset Password, Weak Password Policy</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Authorization Testing</td>
            <td>Directory Traversal/File Inclusion, Insecure Direct Object References, Privilege Escalation</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Session Management Testing</td>
            <td>Session Fixation, Logout Functionality, Session Timeout, Bypassing Session Management Schema</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Data Validation Testing</td>
            <td>SQL Injection, Code Injection, Reflected XSS, Stored XSS, HTTP Parameter Pollution</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Error Handling</td>
            <td>Analysis of Error Codes, Analysis of Stack Traces</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Cryptography</td>
            <td>Weak SSL/TLS Ciphers, Sensitive Information sent via unencrypted channels</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Business Logic Testing</td>
            <td>Ability to Forge Requests, Business Logic Data Validation, Upload of Malicious Files</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Client-Side Testing</td>
            <td>JavaScript Execution, HTML Injection, Client-Side URL Redirect, Clickjacking</td>
          </tr>
        </tbody>
      </table>
    </section>
    
  </div>